* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, #8b0000, #ff4d4d);
  color: white;
}

.landing-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 3rem 2rem;
  text-align: center;
  width: 350px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.welcome-message h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.welcome-message p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #c1121f;
  padding: 12px 30px;
  margin: 10px 0;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #a10e1b;
}

.logout {
  background-color: #ff5c8a;
}

.logout:hover {
  background-color: #e14c74;
}